<!-- Footer Fragment -->
<footer th:fragment="footer" class="py-4 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0 text-white-50">&copy; 2025 ByteForge. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="#" class="text-white-50 me-3"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-white-50 me-3"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-white-50"><i class="bi bi-instagram"></i></a>
            </div>
        </div>
    </div>
</footer> 